.link-item {
  padding: 1rem 1rem;
  cursor: pointer;
  display: flex;
  justify-self: center;
}

.link-item:hover > a > .link-image {
  opacity: 0.8;
}

.link-image {
  opacity: 1;
  height: 5rem;
  transition: all 0.3s;
}
