.testimonial-slider {
  overflow: hidden;
  position: relative;
  margin: 0 auto 10rem auto;
  height: 35rem;
  max-width: 120rem;
}
@media only screen and (max-width: 1500px) {
  .testimonial-slider {
    max-width: 120rem;
  }
}
@media only screen and (max-width: 1200px) {
  .testimonial-slider {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 900px) {
  .testimonial-slider {
    font-size: 2.5rem;
    padding: 0.75rem 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .testimonial-slider {
    font-size: 2rem;
    padding: 0.5rem 1rem;
  }
}
