.footer-section {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1rem 1rem 3rem rgba(255, 255, 255, 0.6);
}

.footer-copyright {
  font-size: 1.6rem;
}
