.hero-section {
  height: 100vh;
  padding: 5rem;
  display: grid;
  grid-template-columns: 60% 40%;
  align-content: center;
  background: url("../../assets/hero-bg-4.png"),
    radial-gradient(rgb(71, 0, 0), black);
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 1200px) {
  .hero-section {
    grid-template-columns: 100% 0%;
  }
}
@media only screen and (max-width: 600px) {
  .hero-section {
    padding: 2.5rem;
  }
}

.hero-heading {
  font-size: 10rem;
  animation: scale-easeOutElastic 2s 1;
}
@media only screen and (max-width: 900px) {
  .hero-heading {
    font-size: 8rem;
  }
}
@media only screen and (max-width: 600px) {
  .hero-heading {
    font-size: 6rem;
    text-align: center;
  }
}

.hero-text-container {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 1.5rem;
}

.hero-visual-container {
  height: 100%;
}

.hero-text {
  font-size: 2.5rem;
  line-height: 4rem;
}
@media only screen and (max-width: 900px) {
  .hero-text {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .hero-text {
    font-size: 2rem;
    text-align: center;
  }
}

#hello {
  display: inline-block;
  animation: wave 0.5s 2s 1;
}

#hero-text-1 {
  animation: scale-easeOutElastic-2 4s 1;
}
#hero-text-2 {
  animation: scale-easeOutElastic-2 5s 1;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes scale-easeOutElastic {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  50% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes scale-easeOutElastic-2 {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  70% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
