.site-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, min-content);
  justify-items: center;
  grid-row-gap: 10rem;
}

@media only screen and (max-width: 1500px) {
  .site-list {
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, min-content);
  }
}
@media only screen and (max-width: 600px) {
  .site-list {
    grid-row-gap: 5rem;
  }
}
