.app-list {
  display: grid;
  grid-auto-rows: repeat(2, min-content);
  justify-content: center;
  list-style: none;
  grid-row-gap: 15rem;
}
@media only screen and (max-width: 900px) {
  .app-list {
    grid-row-gap: 10rem;
  }
}
@media only screen and (max-width: 600px) {
  .app-list {
    grid-row-gap: 5rem;
  }
}
