.testimonials-section {
  padding: 5rem;
  background: linear-gradient(
    to bottom,
    black,
    var(--color-very-dark-red),
    black
  );
}

.testimonials-section-heading {
  margin-bottom: 15rem;
}
@media only screen and (max-width: 1200px) {
  .testimonials-section-heading {
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 900px) {
  .testimonials-section-heading {
    margin-bottom: 0rem;
  }
}
