.testimonials-section {
  padding: 5rem;
  background: linear-gradient(
    to bottom,
    black,
    var(--color-very-dark-red),
    black
  );
}

.testimonials-section-heading {
  font-size: 6rem;
  margin-bottom: 15rem;
}
