.mobile-navigation {
  border: none;
  display: flex;
  cursor: pointer;
  display: none;
  margin-right: 2.5rem;
  z-index: 5;
  background-color: transparent;
}

@media only screen and (max-width: 1200px) {
  .navigation {
    background-color: purple;
  }
}
@media only screen and (max-width: 900px) {
  .navigation {
    background-color: red;
  }
  .mobile-navigation {
    display: block;
  }
  .navigation-open .page-section-list {
    background-color: blue;
  }
}

@keyframes fadeUpIn {
  0% {
    transform: translateY(0rem);
    opacity: 0;
  }
  50% {
    transform: translateY(7.5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
