html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit;
}

:root {
  --color-very-very-dark-red: rgb(32, 0, 0);
  --color-very-dark-red: rgb(53, 0, 0);
  --color-dark-red: rgb(131, 0, 0);
  --color-red: rgb(255, 0, 0);
  --color-light-red: rgb(224, 83, 83);
  --color-very-light-red: rgb(204, 131, 131);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  opacity: 1;
  transform: translateY(0rem);
  transition: all 3s;
  font-size: 6rem;
}

.heading-hidden {
  opacity: 0;
  transform: translateY(5rem);
}

.card-site {
  perspective: 150rem;
  position: relative;
  width: 65rem;
  height: 30.89rem;
}
.card-site:hover .card-front {
  transform: translateY(-2rem) rotateY(180deg);
  box-shadow: 0rem 3rem 4rem rgba(255, 255, 255, 0.4);
}
.card-site:hover .card-back {
  transform: translateY(-2rem) rotateY(0deg);
  box-shadow: 0rem 3rem 4rem rgba(255, 255, 255, 0.4);
}

.card-app {
  perspective: 150rem;
  position: relative;
  width: 85rem;
  height: 44.93rem;
}
.card-app:hover .card-front {
  transform: translateY(-2rem) rotateY(180deg);
  box-shadow: 0rem 3rem 4rem rgba(255, 255, 255, 0.4);
}
.card-app:hover .card-back {
  transform: translateY(-2rem) rotateY(0deg);
  box-shadow: 0rem 3rem 4rem rgba(255, 255, 255, 0.4);
}

.card-front {
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 1rem;
  box-shadow: 0rem 0.5rem 2rem rgba(255, 255, 255, 0.5);
}
.project-image {
  width: 100%;
  height: 100%;
}

.card-back {
  background: linear-gradient(to bottom right, var(--color-light-red), grey);
  transition: all 1s ease;
  transform: rotateY(-180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 3rem;
  align-content: center;
  justify-content: center;
}
.tech-list {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 1rem;
  justify-items: center;
}
.tech-title {
  font-size: 4rem;
  text-align: center;
}
.tech-type-title {
  font-size: 3rem;
}
.tech-text {
  font-size: 2rem;
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: center;
}
.visit-button {
  border: none;
  padding: 1.2rem 6rem;
  background-color: white;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  border-radius: 0.3rem;
  transition: all 0.3s;
}
.visit-button:hover {
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.5);
}
